@font-face {
    font-family: 'GT-America-Extended-Black';
    src: url('fonts/GT-America-Extended-Black.woff2') format('woff2'),
        url('fonts/GT-America-Extended-Black.woff') format('woff'),
        url('fonts/GT-America-Extended-Black.ttf') format('truetype'),
        url('fonts/GT-America-Extended-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/GT-America-Extended-Black.svg#GT-America-Extended-Black') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('fonts/Graphik-RegularItalic.woff') format('woff'),
        url('fonts/Graphik-RegularItalic.ttf') format('truetype'),
        url('fonts/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Graphik-RegularItalic.svg#Graphik') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

html.long-page {
    min-height: 100%;
    height: auto;
    align-items: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    max-width: 500px;
    background-image: url();
    color: black;
    margin: 0;
    padding: 1rem;
}

h1,
h2, h3 {
    font-family: "Times New Roman", Times, serif;    
    line-height: 2rem;
    font-weight: 600;
}

/* User wants name bigger */
h1 {
    font-size: 2.4rem;
}

.timeline{
    color: rgb(0, 0, 0);
    background-color: rgba(244, 244, 89, 0.957);
    font-weight: 400;
    padding: 0 4px;
}

.social-container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-link{
    margin-right: 1.5rem;
}

ul {
    display: grid;
    gap: 0.75rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1rem;
    padding-left: 1.2rem;
    margin: 0;
    line-height: 1.3;
}

img {
    height: 100px;
    width: 100px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    body {
        max-width: 95%;
        padding: 0.75rem;
    }
    ul {
        line-height: 1.2;
    }
}
