@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #000000;
}

/* @font-face {
  font-family: "Casey";
  src: url("/casey.woff2") format("woff2");
  font-weight: 400;
} */

@font-face {
  font-family: "Clash";
  src: url("/Clash.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-Thin.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Perfect";
  src: url("/Perfect.woff2") format("woff2");
  font-style: normal;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: black;
  color: white;
}

::-moz-selection {
  background-color: black;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
