@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "SFPro";
  src: url("/SFPro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SFPro", Arial, Helvetica, sans-serif;
  cursor: url('/cursor.svg') 3 3, auto;
}

::selection {
  background: black;
  color: white;
}

/* hide scrollbar */
html {
  scrollbar-width: none; /* firefox */
}

html::-webkit-scrollbar {
  display: none; /* chrome, safari, edge */
}
